<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/room.css">
    <script defer type="module" src="../js/src/roomChat.js"></script>
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <h1 class="room-name"> Room 1 </h1>
        <div class="chat">
            <div class="chat--display-message">
            </div>
            <div class="chat--send-message">
                <form id="form">
                    <input class="form__input--message" type="text" name="message" id="message" placeholder="Enter your message" size="50">
                    <input class="form__input--image" type="file" name="image" id="image">
                    <button type="submit">send</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>