<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="module" src="../js/src/signup.js"></script>
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <hr>
    <div class="container">
        <form class="signup" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <label for="password">Confirmation Password</label>
            <input type="password" name="cf-password" id="cf-password">
            <button type="reset">reset the form</button>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>